* {
  margin: 0;
}

#external {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  background-color: black;
  width: 100px;
}

#casa {
  background-color: #00ff00;
}

#carro {
  background-color: #ff0000;
}

#moto {
  background-color: #0000ff;
}
