* {
  background-color: aqua;
}

#external {
  display: flex;
  border: 5px solid #ff0000;
  width: 200px;
}

#external > div {
  color: #fff;
  text-align: center;
  background-color: rgb(112, 112, 109);
  width: 100px;
  border: 1px solid #fff;
  flex-shrink: 0;
}
